SemanticLinkHelper/Service References/CommonDictService/Service4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VLLStaffDB.LnModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VLLStaffDB.LnModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfshortUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="shortUser" nillable="true" type="tns:shortUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfshortUser" nillable="true" type="tns:ArrayOfshortUser" />
  <xs:complexType name="shortUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Patronymic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SurName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="department" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="post" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="sdepartment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="spost" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="shortUser" nillable="true" type="tns:shortUser" />
</xs:schema>