SemanticLinkHelper/Service References/CommonDictService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ulif.org.ua/services/commondic" elementFormDefault="qualified" targetNamespace="http://ulif.org.ua/services/commondic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://lcorp.ulif.org.ua/ICommonPerCall/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VLLStaffDB.Models" />
  <xs:import schemaLocation="http://lcorp.ulif.org.ua/ICommonPerCall/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://lcorp.ulif.org.ua/ICommonPerCall/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/VLLStaffDB.LnModel" />
  <xs:element name="UpdateDBs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VLLStaffDB.Models" minOccurs="0" name="dbs" nillable="true" type="q1:ArrayOfDBCONF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDBsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateDBsResult" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VLLStaffDB.Models" minOccurs="0" name="dbs" nillable="true" type="q2:ArrayOfDBCONF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsInRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="role" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsInRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsInRoleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lsid" type="xs:int" />
        <xs:element minOccurs="0" name="on" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserIDsForLS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sysid" type="xs:int" />
        <xs:element minOccurs="0" name="role" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserIDsForLSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetUserIDsForLSResult" nillable="true" type="q3:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msgtext" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="count" type="xs:unsignedByte" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="users" nillable="true" type="q4:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewMessageResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckMessages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CheckMessagesResult" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigRights">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigRightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetConfigRightsResult" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersShort">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersShortResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/VLLStaffDB.LnModel" minOccurs="0" name="GetUsersShortResult" nillable="true" type="q6:ArrayOfshortUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDBForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lsid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDBForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDBForUserResult" nillable="true" type="q7:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLSForUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLSForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetLSForUserResult" nillable="true" type="q8:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLangsForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lsid" type="xs:int" />
        <xs:element minOccurs="0" name="dbid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLangsForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetLangsForUserResult" nillable="true" type="q9:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRangesForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lsid" type="xs:int" />
        <xs:element minOccurs="0" name="dbid" type="xs:int" />
        <xs:element minOccurs="0" name="lang" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRangesForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetRangesForUserResult" nillable="true" type="q10:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemsShort">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemsShortResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetSystemsShortResult" nillable="true" type="q11:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroups">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/VLLStaffDB.Models" minOccurs="0" name="GetGroupsResult" nillable="true" type="q12:ArrayOfGROUP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRights">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/VLLStaffDB.Models" minOccurs="0" name="GetRightsResult" nillable="true" type="q13:ArrayOfRIGHT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersons">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/VLLStaffDB.Models" minOccurs="0" name="GetPersonsResult" nillable="true" type="q14:ArrayOfPERSON" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddresses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/VLLStaffDB.Models" minOccurs="0" name="GetAddressesResult" nillable="true" type="q15:ArrayOfADDRESS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/VLLStaffDB.Models" minOccurs="0" name="GetDepartmentsResult" nillable="true" type="q16:ArrayOfDEPARTMENT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPosts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/VLLStaffDB.Models" minOccurs="0" name="GetPostsResult" nillable="true" type="q17:ArrayOfPOST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/VLLStaffDB.Models" minOccurs="0" name="GetSystemsResult" nillable="true" type="q18:ArrayOfSYSTEM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDBs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDBsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/VLLStaffDB.Models" minOccurs="0" name="GetDBsResult" nillable="true" type="q19:ArrayOfDBCONF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLSs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLSsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/VLLStaffDB.Models" minOccurs="0" name="GetLSsResult" nillable="true" type="q20:ArrayOfLS_TYPE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLangs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLangsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/VLLStaffDB.Models" minOccurs="0" name="GetLangsResult" nillable="true" type="q21:ArrayOfALLANG" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupRights">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupRightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/VLLStaffDB.Models" minOccurs="0" name="GetGroupRightsResult" nillable="true" type="q22:ArrayOfGROUPS_RIGHTS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRights">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserRightsResult" type="xs:int" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/VLLStaffDB.Models" minOccurs="0" name="groups" nillable="true" type="q23:ArrayOfUSERS_GROUPS" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/VLLStaffDB.Models" minOccurs="0" name="rights" nillable="true" type="q24:ArrayOfUSERS_RIGHTS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRanges">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRangesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/VLLStaffDB.Models" minOccurs="0" name="GetUserRangesResult" nillable="true" type="q25:ArrayOfUSERS_RANGES" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dbid" type="xs:int" />
        <xs:element minOccurs="0" name="lsid" type="xs:int" />
        <xs:element minOccurs="0" name="lang" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSystemIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="postid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserPostResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rangeid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRangeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSystem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sysid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSystemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSystemResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAddressResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteDepartmentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePostResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRight">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRightResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteGroupResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteLSResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteDBResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/VLLStaffDB.Models" minOccurs="0" name="persons" nillable="true" type="q26:ArrayOfPERSON" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUsersResult" type="xs:int" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/VLLStaffDB.Models" minOccurs="0" name="persons" nillable="true" type="q27:ArrayOfPERSON" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRanges">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/VLLStaffDB.Models" minOccurs="0" name="ranges" nillable="true" type="q28:ArrayOfUSERS_RANGES" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRangesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRangesResult" type="xs:int" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/VLLStaffDB.Models" minOccurs="0" name="ranges" nillable="true" type="q29:ArrayOfUSERS_RANGES" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSystems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/VLLStaffDB.Models" minOccurs="0" name="systems" nillable="true" type="q30:ArrayOfSYSTEM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSystemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSystemsResult" type="xs:int" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/VLLStaffDB.Models" minOccurs="0" name="systems" nillable="true" type="q31:ArrayOfSYSTEM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserRights">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/VLLStaffDB.Models" minOccurs="0" name="groups" nillable="true" type="q32:ArrayOfGROUP" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/VLLStaffDB.Models" minOccurs="0" name="rights" nillable="true" type="q33:ArrayOfRIGHT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserRightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserRightsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGroupRights">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupid" type="xs:int" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/VLLStaffDB.Models" minOccurs="0" name="grights" nillable="true" type="q34:ArrayOfRIGHT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGroupRightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateGroupRightsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAddresses">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/VLLStaffDB.Models" minOccurs="0" name="addresses" nillable="true" type="q35:ArrayOfADDRESS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAddressesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAddressesResult" type="xs:int" />
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/VLLStaffDB.Models" minOccurs="0" name="addresses" nillable="true" type="q36:ArrayOfADDRESS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDepartments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/VLLStaffDB.Models" minOccurs="0" name="departments" nillable="true" type="q37:ArrayOfDEPARTMENT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDepartmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateDepartmentsResult" type="xs:int" />
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/VLLStaffDB.Models" minOccurs="0" name="departments" nillable="true" type="q38:ArrayOfDEPARTMENT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePosts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/VLLStaffDB.Models" minOccurs="0" name="posts" nillable="true" type="q39:ArrayOfPOST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePostsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePostsResult" type="xs:int" />
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/VLLStaffDB.Models" minOccurs="0" name="posts" nillable="true" type="q40:ArrayOfPOST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRights">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/VLLStaffDB.Models" minOccurs="0" name="rights" nillable="true" type="q41:ArrayOfRIGHT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRightsResult" type="xs:int" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/VLLStaffDB.Models" minOccurs="0" name="rights" nillable="true" type="q42:ArrayOfRIGHT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/VLLStaffDB.Models" minOccurs="0" name="groups" nillable="true" type="q43:ArrayOfGROUP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateGroupsResult" type="xs:int" />
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/VLLStaffDB.Models" minOccurs="0" name="groups" nillable="true" type="q44:ArrayOfGROUP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLSs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/VLLStaffDB.Models" minOccurs="0" name="lss" nillable="true" type="q45:ArrayOfLS_TYPE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLSsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateLSsResult" type="xs:int" />
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/VLLStaffDB.Models" minOccurs="0" name="lss" nillable="true" type="q46:ArrayOfLS_TYPE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>