SemanticLinkHelper/Service References/WordFormsService/dictlib.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://ulif.org.ua/services/lib5" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="dictlib" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://ulif.org.ua/services/lib5" location="http://lcorp.ulif.org.ua/Ilib7/Service.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_Ilib5" type="i0:Ilib5">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SupplyPageOfData">
      <soap:operation soapAction="http://ulif.org.ua/services/lib5/IDataPageRetriever/SupplyPageOfData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReestrGetID">
      <soap:operation soapAction="http://ulif.org.ua/services/lib5/Ilib5/ReestrGetID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReestrGetLen">
      <soap:operation soapAction="http://ulif.org.ua/services/lib5/Ilib5/ReestrGetLen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReestrGetWord">
      <soap:operation soapAction="http://ulif.org.ua/services/lib5/Ilib5/ReestrGetWord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateWPar">
      <soap:operation soapAction="http://ulif.org.ua/services/lib5/Ilib5/GenerateWPar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateWPar2">
      <soap:operation soapAction="http://ulif.org.ua/services/lib5/Ilib5/GenerateWPar2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateWPar3">
      <soap:operation soapAction="http://ulif.org.ua/services/lib5/Ilib5/GenerateWPar3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchWord">
      <soap:operation soapAction="http://ulif.org.ua/services/lib5/Ilib5/SearchWord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchDicWord">
      <soap:operation soapAction="http://ulif.org.ua/services/lib5/Ilib5/SearchDicWord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchOrderNum">
      <soap:operation soapAction="http://ulif.org.ua/services/lib5/Ilib5/SearchOrderNum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="existdict">
      <soap:operation soapAction="http://ulif.org.ua/services/lib5/Ilib5/existdict" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="existdicts">
      <soap:operation soapAction="http://ulif.org.ua/services/lib5/Ilib5/existdicts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DictPrepare">
      <soap:operation soapAction="http://ulif.org.ua/services/lib5/Ilib5/DictPrepare" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DictPrepare2">
      <soap:operation soapAction="http://ulif.org.ua/services/lib5/Ilib5/DictPrepare2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="phrasPrepare">
      <soap:operation soapAction="http://ulif.org.ua/services/lib5/Ilib5/phrasPrepare" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getpharticle">
      <soap:operation soapAction="http://ulif.org.ua/services/lib5/Ilib5/getpharticle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getpharticle2">
      <soap:operation soapAction="http://ulif.org.ua/services/lib5/Ilib5/getpharticle2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="phcmp">
      <soap:operation soapAction="http://ulif.org.ua/services/lib5/Ilib5/phcmp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppName">
      <soap:operation soapAction="http://ulif.org.ua/services/lib5/Ilib5/GetAppName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkver">
      <soap:operation soapAction="http://ulif.org.ua/services/lib5/Ilib5/checkver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processmorph">
      <soap:operation soapAction="http://ulif.org.ua/services/lib5/Ilib5/processmorph" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getcwf">
      <soap:operation soapAction="http://ulif.org.ua/services/lib5/Ilib5/getcwf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processaccent">
      <soap:operation soapAction="http://ulif.org.ua/services/lib5/Ilib5/processaccent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processtranscr">
      <soap:operation soapAction="http://ulif.org.ua/services/lib5/Ilib5/processtranscr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllPart">
      <soap:operation soapAction="http://ulif.org.ua/services/lib5/Ilib5/getAllPart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFirstWFormsWithParts">
      <soap:operation soapAction="http://ulif.org.ua/services/lib5/Ilib5/getAllFirstWFormsWithParts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getsemcomm">
      <soap:operation soapAction="http://ulif.org.ua/services/lib5/Ilib5/getsemcomm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTypeWords">
      <soap:operation soapAction="http://ulif.org.ua/services/lib5/Ilib5/getTypeWords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGramParams">
      <soap:operation soapAction="http://ulif.org.ua/services/lib5/Ilib5/getGramParams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPartIdAssotiations">
      <soap:operation soapAction="http://ulif.org.ua/services/lib5/Ilib5/getPartIdAssotiations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllPartGramInfo">
      <soap:operation soapAction="http://ulif.org.ua/services/lib5/Ilib5/getAllPartGramInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCommonPartsInfo">
      <soap:operation soapAction="http://ulif.org.ua/services/lib5/Ilib5/getCommonPartsInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="dictlib">
    <wsdl:port name="BasicHttpBinding_Ilib5" binding="tns:BasicHttpBinding_Ilib5">
      <soap:address location="http://lcorp.ulif.org.ua/Ilib7/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>