SemanticLinkHelper/Service References/WordFormsService/Service5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/fdict" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/fdict" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://lcorp.ulif.org.ua/Ilib7/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfphrasdict.phraseology">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="phrasdict.phraseology" type="tns:phrasdict.phraseology" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfphrasdict.phraseology" nillable="true" type="tns:ArrayOfphrasdict.phraseology" />
  <xs:complexType name="phrasdict.phraseology">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="aid" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="l" type="xs:byte" />
      <xs:element minOccurs="0" name="phras" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sort" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="phrasdict.phraseology" nillable="true" type="tns:phrasdict.phraseology" />
</xs:schema>